/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/*
 * common
 */
* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

button:focus {
  outline: none;
}

.button-content {
  width: 100%;
  height: 66px;
  padding: 10px 100px;
  z-index: -1;
}
.button-content button {
  width: 100%;
  height: 100%;
  background-color: #f0b600;
  border: none;
  color: #4f3c00;
  font-size: 16px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}

/*
.index-container {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  .page {
    max-width: 414px;
    height: 100%;
    margin: 0 auto;
    position: relative;
    color: #fff;
    text-align: center;
    background-color: $background-color;
  }
  .index-background01 {
    width: 100%;
    height: 100%;
    background: url("../img/share/index-back-top.png") no-repeat center -20px;
    background-size: 100%;
  }
  .index-background02 {
    width: 100%;
    height: 100%;
    background: url("../images/share/index-back-bottom.png") no-repeat center bottom;
    background-size: 100%;
  }
  .down-menu {
    position: absolute;
    bottom: 30px;
    width: 100%;
    text-align: center;
    span {
      color: #f8f8f8;
      @include text-shadow(#808080 0 3px 8px);
      @include animation(down 1s linear infinite);
    }
  }
  .snow {
    width: 100%;
    height: 100%;
    background: url("../images/share/snow.png") no-repeat center -62px;
    background-size: 100%;
  }

  .tree {
    pointer-events: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../images/share/tree.png") no-repeat center bottom;
    background-size: 100%;
    z-index: 1;
  }
  .menu {
    position: relative;
    width: 100%;
    max-width: 414px;
    height: 100%;
    margin: 0 auto;
    .back {
      display: inline-block;
      width: 300px;
      bottom: 100px;
    }
    .pregnant {
      display: inline-block;
      width: 53px;
      bottom: 260px;
      right: 149px;
    }
    .mother {
      display: inline-block;
      width: 61px;
      left: 136px;
      bottom: 258px;

    }
    .for-user {
      display: inline-block;
      width: 87px;
      top: 60px;
    }
  }

}
*/
.center {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  overflow: auto;
}

@keyframes down {
  from {
    top: 0;
  }
  to {
    top: 8px;
  }
}
@-webkit-keyframes down /*Safari and Chrome*/ {
  from {
    top: 0;
  }
  to {
    top: 8px;
  }
}
.card-container {
  width: 100%;
  height: 350px;
  overflow: hidden;
}
.card-container .edit {
  position: relative;
  top: -85px;
  display: block;
  width: 320px;
  margin: 0 auto;
  z-index: 100;
  pointer-events: none;
}
.card-container .add {
  display: block;
  position: relative;
  width: 85px;
  margin: 0 auto;
  right: 50px;
  top: 76px;
}

#plan {
  display: block;
  position: relative;
  width: 85px;
  height: 90px;
  margin: 0 auto;
  right: 51px;
  top: -347px;
  z-index: -1;
}

.wish {
  display: block;
  margin: 0 auto;
  width: 100%;
  padding: 30px 60px;
}
.wish textarea {
  width: 100%;
  border: none;
  resize: none;
  background-color: #e8e1cf;
  color: #666;
  font-size: 16px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  padding: 5px 30px;
}
.wish textarea:focus {
  outline: none;
}

#clipArea {
  margin: 0 auto;
  background: #f2f2f2;
}

.modal-clip {
  width: 100%;
  height: 100%;
}
.modal-clip .modal-content {
  width: 100%;
  height: 100%;
  border: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.modal-clip .modal-body {
  padding: 0;
}

.back-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 320px;
  height: 100%;
  min-height: 480px;
  max-height: 736px;
}
.back-container .pregnant-back {
  width: 100%;
  max-width: 414px;
  margin: 0 auto;
  height: 100%;
  background: url("../img/edit/for-pregnant.png") no-repeat center center;
  background-size: 90%;
}
.back-container .pregnant-avatar {
  display: inline-block;
  width: 90%;
  max-width: 372px;
  z-index: -1;
}
.back-container .pregnant-avatar img {
  position: relative;
  left: 21%;
  top: 22%;
  width: 27%;
  max-width: 100px;
}

.back-container-baby {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 320px;
  height: 100%;
  min-height: 600px;
  max-height: 736px;
}
.back-container-baby .pregnant-back {
  width: 100%;
  max-width: 414px;
  margin: 0 auto;
  height: 100%;
  background: url("../img/edit/for-mother.png") no-repeat center center;
  background-size: 90%;
}
.back-container-baby .pregnant-avatar {
  display: inline-block;
  width: 90%;
  max-width: 372px;
  z-index: -1;
}
.back-container-baby .pregnant-avatar .img1 {
  position: relative;
  left: 26%;
  top: 27%;
  width: 27%;
  max-width: 100px;
}
.back-container-baby .pregnant-avatar .img2 {
  position: relative;
  left: 15%;
  top: 51%;
  width: 21%;
  max-width: 78px;
}

.button-position {
  position: absolute;
  bottom: 15px;
  left: 0;
  width: 100%;
  min-width: 320px;
}
.button-position .button-share {
  width: 78%;
  margin: 0 auto;
}
.button-position button {
  padding: 10px 20px;
  background-color: #f0b600;
  border: none;
  color: #4f3c00;
  font-size: 16px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}
.button-position .button-right {
  float: right;
}

.wish-container {
  width: 100%;
  min-width: 320px;
  max-width: 414px;
  padding: 20px 0 20px 30px;
}
.wish-container .wish-content {
  display: block;
  min-height: 80px;
  font-size: 18px;
  color: white;
  background: url("../img/wish.png") no-repeat left top;
  background-size: 20%;
  padding: 12% 16% 0;
}

.modal-share {
  width: 100%;
  height: 100%;
  padding: 0 7px;
  background: url("../img/share.png") no-repeat center top;
  background-size: 100%;
}

.audio-content {
  position: fixed;
  right: 5px;
  top: 5px;
  width: 30px;
  height: 30px;
  overflow: hidden;
}
.audio-content audio {
  position: relative;
  left: -8px;
}
.audio-content span {
  position: absolute;
  top: -5px;
  left: -1px;
  display: block;
  pointer-events: none;
  width: 35px;
  height: 35px;
  font-size: 20px;
  text-align: center;
  color: white;
  padding-top: 10px;
  background: #afe9dd;
}

#snow {
  position: fixed;
  top: 0px;
  pointer-events: none;
}

#clipArea {
  margin: 0 auto;
  background: #ccc;
}

.modal-clip {
  width: 100%;
  height: 100%;
}
.modal-clip .modal-content {
  width: 100%;
  height: 100%;
  border: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.modal-clip .modal-body {
  padding: 0;
}

.clip-button {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10%;
  background-color: #afe9dd;
}

.close-modal {
  position: relative;
  left: 56%;
  padding: 5px 10px;
  border: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #4f3c00;
  background-color: #f0b600;
}

.upload-modal {
  position: relative;
  left: 58%;
  padding: 5px 10px;
  border: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #4f3c00;
  background-color: #f0b600;
}

.img-back-user {
  pointer-events: none;
  width: 275px;
  left: 38px;
  top: 50%;
  margin-top: -182px;
}

@media screen and (max-width: 359px) {
  .wish-container .wish-content {
    font-size: 16px;
  }

  .back-container-baby {
    min-height: 515px;
  }
}
